*{
    margin: auto;
    padding: auto;
}

.card___navbar{
    height: 123px;
    width: 100%;
    background-color: antiquewhite;
}
.nav___child{
    width: 100%;
    
}
.card___logo-img-cont{
    height: 100%;
    width: 20
}
